{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "_types": "./types/index.ts",
          "_apis": "./apis/",
          "_actions": "./actions/",
          "_helpers": "./helpers/",
          "_assets": "./assets/",
          "_components": "./screens/components/",
          "_typography": "./theme/typography",
          "_palette": "./theme/palette",
          "_metrics": "./theme/metrics",
          "_globals": "./theme/globals",
          "_zIndex": "./theme/zIndex",
          "_stylesheet": "./theme/stylesheet",
          "_rootReducer": "./reducers/index.ts"
        }
      }
    ]
  ]
}
